* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --primary-orange: #ffad01;
  --secondary-green: #05c46b;
  --text-white: #ffffff;
  --backgrounds-black: #353b48;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--backgrounds-black);
  color: var(--text-white);
  font-size: 1.1rem;
}

.triangle-shape {
  width: 50vw;
  height: 100vh;
  background-color: var(--secondary-green);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -99;
  clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
}

.main-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  z-index: -99;
}

.image-container img {
  width: 40vw;
  margin: 60px;
}

.main-copy-container {
  width: 25vw;
  height: 50vh;
  margin: 110px auto 40px auto;
}

.name-title-header {
  font-size: 3rem;
  font-weight: 600;
  line-height: 45px;
}

.name-title-copy {
  margin: 30px 0;
  line-height: 30px;
}

.full-name {
  color: var(--secondary-green);
}

.socials-container {
  width: 30vw;
}