* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --orange: #ffad01;
  --green: #05c46b;
  --white: #ffffff;
  --backgrounds-black: #353b48;
  --grey: #454e56;
}

body {
  font-family: "Poppins", sans-serif;
  /* 400,500,600,700,800 */
  background: var(--backgrounds-black);
  color: var(--white);
  font-size: 1.1rem;
}

/*

h1 - 2.125rem --> 34px
h2 - 1.875rem --> 30px
h3 - 1.5rem   --> 24px
h4 - 1.25rem  --> 20px
h5 - 1.125rem --> 18px
h6 - 1rem     --> 16px

*/

.cta-color-dark {
  color: var(--green);
}

.cta-color-lite {
  color: var(--green);
}

/* dark side code */
h1 {
  color: var(--white);
  font-size: 2.125rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.875rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

h4 {
  font-size: 1.25rem;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
}

img {
  width: 30vw;
  border-radius: 15px;
}

.triangle-shape {
  width: 50vw;
  height: 100vh;
  background-color: var(--green);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -99;
  clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
}

.main-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  z-index: -99;
}

.image-container img {
  width: 40vw;
  margin: 60px;
}

.main-copy-container {
  width: 25vw;
  height: 50vh;
  margin: 110px auto 40px auto;
}

.name-title-header {
  font-size: 3rem;
  font-weight: 600;
  line-height: 45px;
}

.name-title-copy {
  margin: 30px 0;
  line-height: 30px;
}

.full-name {
  color: var(--green);
}

.download-resume-btn-container {
  display: flex;
  align-self: flex-start;
}

#download-resume-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--green);
  display: flex;
  align-self: flex-start;
  align-items: center;
  overflow: hidden;
}

#download-resume-btn .download-resume-btn-text {
  padding: 0 32px;
}

#download-resume-btn .download-resume-btn-icon {
  background-color: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 16px;
}

#download-resume-btn {
  background-color: var(--orange);
}

.download-resume-btn:hover {
  width: 100vw;
}

.socials-container {
  height: 75vh;
  margin: 60px 40px 0 auto;
  display: grid;
  align-content: space-evenly;
}

.socials-container div i {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: solid 1px var(--grey);
  background-color: var(--grey);
  cursor: pointer;
  display: grid;
  align-content: space-evenly;
  justify-content: center;
  box-shadow: 0 3px 15px rgb(0 0 0 / 35%);
}

.socials-container .dark-light-btn {
  margin-bottom: 100px;
}

.dark-light-btn,
.home-icon-btn,
.about-icon-btn,
.portfolio-icon-btn,
.blogs-icon-btn,
.contact-icon-btn {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: solid 1px var(--grey);
  background-color: var(--grey);
  cursor: pointer;
  display: grid;
  align-content: space-evenly;
  justify-content: center;
  box-shadow: 0 3px 15px rgb(0 0 0 / 35%);
  cursor: pointer;
}

.socials-container a:link,
.socials-container a:visited,
.socials-container a:hover,
.socials-container a:active {
  color: var(--white);
  cursor: pointer;
}

/*** About Page ***/
.stats-about-me.right-div p {
  text-transform: uppercase;
}

.about-me-row-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.stats-about-me {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.stats-about-me div {
  outline: solid yellow;
  text-align: center;
}

.about-me-row-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about-me-row-2>progress {
  background-color: #fff;
  width: 20vw;
  height: 1vh;
}

.about-me-row-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*** Contact Page ***/
.portfolio-tab {
  text-indent: 3em;
}

/***** MEDIA QUERIES *****/
/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
  
} */

/* Tablets */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .triangle-shape {
    display: none;
  }

  /****** START HERE ******/
  /*** CODE COPIED FROM DESKTOP VIEW ***/
  img {
    border-radius: 5px;

    outline: solid hotpink;
  }

  /* .triangle-shape {
    width: 50vw;
    height: 100vh;
    background-color: var(--green);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -99;
    clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
  } */

  .main-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* move the socials to the bottom of the pg */
    position: relative;
    z-index: -99;
  }

  .image-container {
    width: 45vw;
    height: 50vh;
    margin-top: 40px;

    outline: solid yellow;
  }

  .main-copy-container {
    /* width: 25vw; */
    width: 45vw;
    height: 50vh;

    outline: solid red;
    /* margin: 110px auto 40px auto; */
  }

  .name-title-header {
    font-size: 3rem;
    font-weight: 600;
    line-height: 45px;
  }

  .name-title-copy {
    margin: 30px 0;
    line-height: 30px;
  }

  .full-name {
    color: var(--green);
  }

  .download-resume-btn-container {
    display: flex;
    align-self: flex-start;
  }

  #download-resume-btn {
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    position: relative;
    border: 1px solid var(--green);
    display: flex;
    align-self: flex-start;
    align-items: center;
    overflow: hidden;
  }

  #download-resume-btn .download-resume-btn-text {
    padding: 0 32px;
  }

  #download-resume-btn .download-resume-btn-icon {
    background-color: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 16px;
  }

  #download-resume-btn {
    background-color: var(--orange);
  }

  .download-resume-btn:hover {
    width: 100vw;
  }

  .socials-container {
    height: 75vh;
    margin: 60px 40px 0 auto;
    display: grid;
    align-content: space-evenly;
  }

  .socials-container div i {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border: solid 1px var(--grey);
    background-color: var(--grey);
    cursor: pointer;
    display: grid;
    align-content: space-evenly;
    justify-content: center;
    box-shadow: 0 3px 15px rgb(0 0 0 / 35%);
  }

  .socials-container .dark-light-btn {
    margin-bottom: 100px;
  }

  .dark-light-btn,
  .home-icon-btn,
  .about-icon-btn,
  .portfolio-icon-btn,
  .blogs-icon-btn,
  .contact-icon-btn {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border: solid 1px var(--grey);
    background-color: var(--grey);
    cursor: pointer;
    display: grid;
    align-content: space-evenly;
    justify-content: center;
    box-shadow: 0 3px 15px rgb(0 0 0 / 35%);
    cursor: pointer;
  }

  .socials-container a:link,
  .socials-container a:visited,
  .socials-container a:hover,
  .socials-container a:active {
    color: var(--white);
    cursor: pointer;
  }

  /*** end -> CODE COPIED FROM DESKTOP VIEW ***/

}

/* Mobile */
@media only screen and (max-width: 600px) {
  .triangle-shape {
    display: none;
  }

  .main-container {
    display: flex;
    flex-direction: column;
  }


  /* box 1 */
  .image-container {
    justify-content: center;
    display: flex;
  }

  .image-container img {
    width: 40vw;
    border-radius: 5px;
  }

  /* box 2 */
  .main-copy-container {
    width: 80vw;
    height: 10vh;
    margin: 5px auto 0 auto;
  }

  .name-title-header p {
    font-size: 1.875rem;
    text-align: center;
  }

  .main-copy-container .name-title-copy {
    line-height: 1.8;
    font-size: 1.25rem;
    text-align: left;
  }

  .download-resume-btn-container {
    display: flex;
    justify-content: center;
  }

  /* box 3 */
  .socials-container {
    display: flex;
    height: 10vh;
    width: 100vw;
    margin: 700px auto 0 auto;
    padding: 30px 20px 80px 20px;
    justify-content: space-around;
    background-color: var(--grey);
  }

  .socials-container div i {
    width: 50px;
    height: 50px;
    border: solid 1px var(--grey);
    background-color: var(--grey);
    box-shadow: 0 3px 15px rgb(0 0 0 / 35%);
    display: flex;
    align-items: center;
  }

  .socials-container a {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  .socials-container div:nth-child(1) {
    outline: none;
  }


}